doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='./css/bootstrap.css')
    link(rel='stylesheet' href='salesproduce.css')
  body
    // nav
    nav.navbar.navbar-light.bg-light
      .container-fluid
        a.navbar-brand Karibu Groceries Ltd
        a.links(href='') Home
        a.links(href='') Dashboard
        a.links(href='') New Produce 
        a.links(href='') Produce List
        a.links(href='') Edit Produce 
        form.d-flex
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
          button.btn(type='submit') Search
    // nav
    h3 New  Produce 
    form.row.g-3(method='POST' action='/newProduce' name='produceform')
      .col-md-6
        label.form-label(for='produceName') Produce Name
        select#produceName.form-select
          option(selected='' name='produceName')
          option Beans
          option Maize Grain
          option G-nuts
          option cowpeas
          option Millet
      .colA-md-6
            label.form-label(for='produceType') Produce Type
            select#produceType.form-select(name='produceType' value=produce.produceType)
              option(selected='')
              option legumes 
              option cereals
      .col-md-6
        label.form-label(for='nameOfBuyer') Name Of Buyer 
        input#nameOfBuyer.form-control(type='nameOfBuyer' value=produce.nameOfBuyer)
      .col-md-6
        label.form-label(for='sellingPrice') Selling Price
        input#sellingPrice.form-control(type='sellingPrice' value=produce.sellingPrice)
        .col-md-6
        label.form-label(for='costOfProduce') Cost Of Price
        input#costOfProduce.form-control(type='costOfProduce'  value=produce.costOfProduce)
      .col-md-6
        label.form-label(for='tonnage') Produce in tonnage(1000kgs)
        input#tonnage.form-control(type='Number' name='tonnage' value=produce.tonnage)
      .col-md-6
        label.form-label(for='start') Date
        input#start.form-control(type='date' name='strip-start' value='date')
      .col-md-6
        label.form-label(for='appt') Time
        input#appt.form-control(type='time' name='appt')
      .col-md-12
        label.form-label(for='inputCity') Contact Number
        input#contactNumber.form-control(type='Number' name='contactNumber' value=produce.contactNumber)
      .col-md-12
       label.form-label(for='branch') Branch 
          select#branch.form-select(name='branch' type='text' required)
            option(selected='')
            option(value='Kisasi') Kisasi 
            option(value='Namugongo') Namugongo
      .col-12
        button.btn-submit(type='submit') submit