doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Edit Purchase 
    link(rel='stylesheet' href='./css/bootstrap.css')
    link(rel='stylesheet' href='purh.css')
  body
    nav.navbar.navbar-light.bg-light
      .container-fluid
        a.navbar-brand Karibu Groceries Ltd
        a.links(href='managerDash') Dashboard
        a.links(href='/') Home
        a.links(href='purchase') New Purchase
        a.links(href='purchase-list') Purchase List
        form.d-flex
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
          button.btn(type='submit') Search
    form.row.g-3
     
      .col-md-6
        label.form-label(for='produceName') Produce Name
        select#produceName.form-select(name='produceName' value=purchase.produceName)
          option(selected='')
          option Beans
          option Maize Grain
          option G-nuts
          option cowpeas
          option Millet
      .col-md-6
        label.form-label(for='produceType') Produce Type
        select#produceType.form-select(name='produceType' value=purchase.produceType)
          option(selected='')
          option legumes 
          option cereals
              
      .col-6
        label.form-label(for='nameOfBuyer') Name of Buyer
        input#nameOfBuyer.form-control(type='text' name='nameOfBuyer' value=purchase.nameOfBuyer)
      .col-md-6
        label.form-label(for='PurchasedOn') Purchased On
        input.form-control(type='text' id='PurchasedOn' name='PurchasedOn' value=purchase.PurchasedOn)
      .col-md-6
        label.form-label(for='Tonnage') Tonnage(kgs)
        input#Tonnage.form-control(type='number' name='Tonnage' value=purchases.Tonnage)
      .col-md-6
        label.form-label(for='price') Unit price
        input#price.form-control(type='number' name='Price' value=purchase.price)
      .col-md-6
        label.form-label(for='Costprice') Cost Price
        input#Costprice.form-control(type='number' name='Costprice' value=purchase.Costprice)
      .col-6
        label.form-label(for='dealer') Dealer's Name
        input#dealer.form-control(type='text' Name='dealer' value=purchase.dealer)
      .col-6
        label.form-label(for='contact') Contact Number
        input#contact.form-control(type='number' name='contact' value=purchase.contact)
      .col-6
        label.form-label(for='Selling') Selling Price
        input#Selling.form-control(type='number' name='Selling' value=purchase.selling)
      .col-12
        button.btn.btn-primary(type='submit') submit