doctype html
html(lang='en' dir='ltr')
  head
    meta(charset='UTF-8')
    // <title> Responsiive Admin Dashboard | CodingLab </title>
    link(rel='stylesheet' href='managerDash.css')
    // Boxicons CDN Link
    link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet')
    link(rel='stylesheet' href="https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    .sidebar
      .logo-details
        img(src='../images/basket-159430_960_720.png')
        span.logo_name K.GROCERIES LTD
      ul.nav-links
        li
          a.active(href='managerDash')
            i.bx.bx-grid-alt
            span.links_name Dashboard
        li
          a(href='produce') Produce 
        li
          a(href='sales') Sales
        li
          a(href='purchase') Purchases
        li
          a(href='') Stock
        li.log_out
          a(href='logout')
            i.bx.bx-log-out
            span.links_name Log out
    section.home-section
      nav
        .sidebar-button
          i.bx.bx-menu.sidebarBtn
          span.dashboard Dashboard
        .links
          a(href='') Purchases
        .links
          a(href='') Sales
        span.admin_name Branch:
        .profile-details
          img(src='../images/Nsereko.jpg' alt='')
          span.admin_name Nsereko
          br
          span.admin_name manager
      .home-content
        .overview-boxes
          .box
            .right-side
              .box-topic Total Credits
              .number 40,876
              .indicator
                i.bx.bx-up-arrow-alt
                span.text Up from yesterday
            i.bx.bx-cart-alt.cart
          .box
            .right-side
              .box-topic Total Sales
              var total = 0
              each element in item 
                 total = #{total + element.amountPaid}
              .number #{total}
              .indicator
                i.bx.bx-up-arrow-alt
                span.text Up from yesterday
            i.bx.bxs-cart-add.cart.two
          .box
            .right-side
              .box-topic Total Purchases
              .number ugx12,876
              .indicator
                i.bx.bx-up-arrow-alt
                span.text Up from yesterday
            i.bx.bx-cart.cart.three
        section.attendance
          .attendance-list
            h1 Recent Sales
            table.table
              thead
                tr
                  
                  th(scope='col') Date
                  th(scope='col') Sales Agent 
                  th(scope='col') Branch
                  th(scope='col') Amount Paid
                
              tbody
              each element in item
                tr
                  
                  td #{element.date}
                  td #{element.salesAgent}
                  td #{element.branch}
                  td #{element.amountPaid}
                  
               
    script(src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous')
