doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
        link(rel='stylesheet' href='/styles/css/bootstrap.css')
        link(rel='stylesheet' href='salesproduce.css')
    body
        nav.navbar.navbar-light.bg-light
            .container-fluid
                a.navbar-brand Karibu Groceries Ltd
                a.links(href='index') Home
                a.links(href='managerDash') Dashboard
                a.links(href='produce') New Produce 
                a.links(href='produceList') Produce List
                a.links(href='editproduce') Edit Produce 
                form.d-flex
                    input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
                    button.btn(type='submit') Search
        // nav
        .container
            h2.list Produce List
                | Branch: 
            if produces.length 
                table.table.table-dark.table-striped
                    thead.thead
                        tr
                            th(scope='col') Produce Name
                            th(scope='col') Produce Type
                            th(scope='col') Name Of Buyer
                            th(scope='col') Selling Price Of Produce
                            th(scope='col') Cost of Produce(per kg)
                            th(scope='col') Tonnage(1000kgs)
                            th(scope='col') Date
                            th(scope='col') Time
                            th(scope='col') Contact Number
                            th(scope='col') Branch Name
                            th action 
                            
                        
                    tbody
                    each produce in produces  
                        tr
                          
                            td #{produce.produceName}
                            td #{produce.produceType}
                            td #{produce.nameOfBuyer}
                            td #{produce.sellingPrice}
                            td #{produce.costOfProduce}
                            td #{produce.tonnage}
                            td #{produce.Date}
                            td #{produce.time}
                            td #{produce.contactNumber}
                            td #{produce.branch}
                            td                     
                                form(method="POST",Action="/produce-list")   
                                    input(type="hidden",name="_id",value=produce._id)
                                    button(type="submit") DELETE 
                            td 
                                a(href="/editProduce" + produces._id) edit   
            else 
                    p There are no registered produces 
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js')                    