doctype html
html(lang='en')
  head
    title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js')
    link(rel='stylesheet' href='purchlist.css')
  a.btn.btn-warning(href="/logout") Log out 

  if purchase.length 
    table.table.table-dark.table-striped
      thead.thead
        tr
          th(scope='col') #
          th(scope='col') Produce Name
          th(scope='col') Produce Type
          th(scope='col') Name of Buyer
          th(scope='col') Purchased On
          th(scope='col') Tonnage(kgs)
          th(scope='col') Unit price
            th(scope='col') Cost Price
          th(scope='col') Branch
          th(scope='col') Contact Number
          th(scope='col') Selling Price
      tbody
      each purchase in purchases 
        tr
          td #{purchase._id}
          td #{purchase.name}
          td #{purchase.typeOfProduce}
          td #{purchase.nameOfBuyer}
          td #{purchase.PurchasedOn}
          td #{purchase.tonnage}
          td #{purchase.price}
          td #{purchase.Costprice}
          td #{purchase.dealer}
          td #{purchase.contact}
          td #{purchase.Selling}
          td 
                form(method="POST",Action="/purchase-list")
                    input(type="hidden",name="_id",value=purchase._id)
                    button(type="submit") DELETE 
          td 
                a(href="/editPurchase" + purchase._id) Edit
  else 
    p There are no registered purchases 
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js')